@page
@model LoginModel

@{
    ViewData["Title"] = "Area de Login";
}

<h1 class="fonte-clara">@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h4 class="fonte-clara">Usar uma conta local para logar.</h4>
                <hr/>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label class="fonte-clara" asp-for="Input.Email">E-mail</label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="fonte-clara" asp-for="Input.Password">Senha</label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label class="fonte-clara" asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Logar</button>
                </div>
                <div class="form-group">
                    <p>
                        <a class="fonte-clara" id="forgot-password" asp-page="./ForgotPassword">Esqueceu sua senha?</a>
                    </p>
                    <p>
                        <a class="fonte-clara" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrar um novo usuário.</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
       
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
