@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CasaDeShow</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-cerulean.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Metal+Mania&display=swap" rel="stylesheet">
    
</head>
<body>
    <header>
        @* ----------------------- MENU ----------------------- *@
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-darkblue border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand icone-dev text-devclub" asp-area="" asp-controller="Home" asp-action="Index"><img src="../../../imagens/guitarra1.png">DEVCLUB</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        @* Menu adm *@
                        @if (SignInManager.IsSignedIn(User) && User.FindFirst("Adm").Value == "True")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="CasaShow" asp-action="Index">Casas de Show</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Evento" asp-action="Index">Eventos</a>
                            </li>
                        }
                        
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Evento" asp-action="Historico">Historico</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy;<label class="text-devclub" style="font-size: 20px">DEVCLUB</label> - 2020.
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
